.list {
  color: rgb(255, 255, 255);
  font-size: 1em;
  padding: 20px;
  padding-inline-start: 20px;
}
.one {
  font-size: 2em;
  text-align: center;
  color: rgb(35, 207, 207);
}

.current-wrap {
  font-size: 40px;
  text-decoration: underline;
}
