@import url("https://fonts.googleapis.com/css?family=Rajdhani:400,600,700");

.container {
  position: absolute;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background: black;
}

.glitch-container {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Rajdhani", sans-serif;
  z-index: 10;
  margin-left: -186px;
  margin-top: -98px;
}

.glitch {
  color: white;
  font-size: 100px;
  position: relative;
  margin: 0 auto;
}

.msg {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.link-list {
  list-style-type: none;
  display: inline-flex;
  flex-direction: row;
  align-content: space-between;
  color: #fff;
  width: 250px;
  margin-top: 10px;

  .link {
    a {
      border: 1px solid #fff;
      border-radius: 500px;
      padding: 5px 25px;
      text-align: center;
      vertical-align: middle;
      text-decoration: none;
      color: #fff !important;
    }

    &:nth-child(1) {
      margin-right: 50px;
    }

    &:nth-last-child(1) {
      margin-left: 50px;
    }
  }
}

@keyframes noise-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
    }
  }
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
    }
  }
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
